/* Grid */

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  margin: 10px;
}

.col-1 {
  width: 100%;
}

.col-2 {
  margin-left: 8.33333333%;
}

.col-3 {
  width: calc(66.66% - 20px);
}

.col-5,.col-6,.col-7 {
  margin-left: 8.33%;
  width: 20%;
}